{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 120,
    "plugins": ["prettier-plugin-blade"],
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade"
            }
        }
    ]
}
